<div class="theme-white">
	<header class="w-full flex items-center header">
		<div class="container flex items-center header_pc">
			<a routerLink="/" class="h-full flex items-center">
				<img src="/assets/images/logo.png" width="100" height="50" class="h-full" alt="logo" /></a>
			<div class="menu_container">
				<ul class="menu_left flex items-center">
					<li>
						<a class="header-text" routerLink="/the-archery">The Archery</a>
					</li>
					<li>
						<a class="header-text">Digital Consulting</a>
					</li>
					<li>
						<a class="header-text">Digital Innovation</a>
					</li>
					<li>
						<a class="header-text">Industries</a>
					</li>
					<li>
						<a class="header-text" routerLink="/the-archery">Digital Venture</a>
					</li>
					<li>
						<a class="header-text">Resource</a>
					</li>
					<li>
						<a class="header-text" routerLink="/the-archery">Careers</a>
					</li>
					<li>
						<button pButton class="header-text">Contact us</button>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section class="main scrollbar-hover flex flex-col">
		<div class="container">
			<router-outlet></router-outlet>
		</div>
	</section>
	<footer class="flex flex-row justify-content-evenly">
			<div class="col-2">
				<div>
					SILVER SEA
				</div>
				<div>Office: Số 5 ngõ 514 đường Hoàng Hoa Thám, Phường Bưởi, Quận Tây Hồ, Thành phố Hà Nội, Việt Nam</div>
			</div>
			<div class="col-2"></div>
			<div class="col-2"></div>
			<div class="col-2"></div>
	</footer>
</div>