/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
// @font-face {
//   font-family: "Manrope";
//   src: local("Manrope"),
//     url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
//   font-weight: normal;
// }
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Medium.otf") format("truetype");
}
:root {
  --custom-color-blue-1: #2f80ed;
  --custom-color-black: #000;
  --custom-color-gray: #1e1e1e;
  --custom-color-gray-1: #141414;
  --custom-color-gray-5a: #5a5a5a;
  --custom-color-gray-6a: #aaaaaa;
  --custom-color-white: #e9e9e9;
  --custom-color-white-o: rgba(255, 252, 254, 0.65);
  --custom-color-orange: linear-gradient(
    101.29deg,
    #ffa51f -9.51%,
    #ff491f 107.43%
  );
  --doc-height: 100%;
  --color-1f: #1f1f1f;
  --color-white: #ffffff;
  --color-main: #f46700;
  --color-white-1: #dcdcdc;
  --color-36: #363636;
  --color-28: #282828;
  --color-25: #252525;
  --color-60: #606060;

  --custom-color-dark: #323232;
  --custom-color-blue: #518ef8;
  --color-11: #111111;
  --color-1e: #1e1e1e;
  --color-border-bottom: #2e2e2e;
  --color-text-tag: #ffffffb3;
  --color-placeholder: #8e8e8e;
  --color-background-tag-hover: #bfbfbf1a;
  --color-background-search-dropdown: #1f1f1f;
  --color-background-streaming: rgba(255, 0, 0, 0.85);
  --color-border-video: rgba(255, 255, 255, 0.1);
  --text-color-orange: #f46700;
  --custom-sub-text-color: rgba(255, 252, 254, 0.65);
  --bb-input-dark: #323232;

  --color-content-primary: #ffffff;
  --color-content-secondary: #d6d6e5;
  --color-content-tertiary: #8b8bb6;
  --color-content-inverse-primary: #131416;

  --color-bg-primary: #015ca2;
  --color-bg-secondary: #353555;
  --color-bg-tertiary: #015ca2;
  --color-bg-inverse-primary: #ffffff;
  --color-bg-gra-primary: radial-gradient(
    95.83% 95.83% at 26.52% -22.22%,
    #ebc1aa 0%,
    #e35f19 87.5%
  );
  --color-bg-gra-secondary: linear-gradient(180deg, #8d8d8d 0%, #4d4c4c 100%);
  --color-bg-opa-primary: #518ef8;
  --color-bg-opa-hover: #45456e;
  --color-bg-opa-search: #323144;
  --color-bg-second-btn: radial-gradient(
    95.83% 95.83% at 26.52% -22.22%,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.04) 87.5%
  );

  --color-line-primary: #565961;
  --color-line-secondary: #8b8bb6;
  --color-line-tertiary: #353555;
  --color-line-gradient: linear-gradient(
    180deg,
    rgba(200, 181, 255, 0.5) 0%,
    rgba(200, 181, 255, 0) 100%
  );
  --color-line-4th: #45456e;

  --color-accent-primary: #f36906;
  --color-negative-primary: #e80000;
  --color-always-light-primary: #ffffff;
  --color-always-positive-primary: #09c66e;
  --color-always-dark-primary: #2f3136;
  --color-critical-primary: #ffea0a;
  --color-link-primary: #096dd9;
  --color-informative-primary: #18baff;
  --color-scrim-primary: rgba(0, 0, 0, 0.8);
  --color-purple: #fd28ca;
  --color-cyan: #0eebb6;
  --color-card: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
  --color-semi-cyan: rgba(7, 169, 161, 0.5);

  --width-content-left: 12.5%;
  --width-content-left-live-manager: 65px;
  --width-margin-left: 24px;
  --width-margin-left-m: 12px;

  --fs-10: 10px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-28: 28px;
  --fs-32: 32px;
  --fs-48: 48px;
  --fs-56: 56px;

  --lh-14: 14px;
  --lh-16: 16px;
  --lh-20: 20px;
  --lh-24: 24px;
  --lh-28: 28px;
  --lh-32: 32px;
  --lh-40: 40px;
  --lh-56: 56px;

  --text-title-main: 24px;
  --text-title-sub: 22px;
  --width-sidebar: 240px;
  // --width-chat-box: 393px;
  --width-chat-box: 320px;
  --width-feature-box: 212px;
  --text-box-header: 18px;
  --text-default: 14px;
  --text-sub-text: 14px;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .container {
    max-width: 1136px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1220px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ol,
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
  font-family: "Manrope";
}

button {
  cursor: pointer;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  border: 0.5px solid #585858;
  font-size: var(--text-default);
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  min-width: 920px;
  background: var(--color-bg-tertiary);
  color: var(--custom-color-white);
  // overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
header {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
header,
footer {
  background-color: var(--custom-color-white);
  position: sticky;
  top: 0;
  z-index: 999;
  color: #000000;

  li {
    &.active {
      color: #dd3542;
    }
  }
  // @media screen and (min-width: 576px) {
  //   height: 64px;
  // }
  .header {
    &__button-login {
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 16px;
      background: #363636;
      border-radius: 20px;
      border: unset;
      color: var(--text-color-orange);
      font-size: var(--fs-16);
      line-height: 20px;
      margin-right: 1rem;
    }
    &__button-register {
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 16px;
      border: none;
      box-sizing: border-box;
      border-radius: 20px;
      background: var(--custom-color-orange);
      color: #fff;
      font-size: var(--fs-16);
      line-height: 20px;
    }
  }
}

.logo {
  padding-top: 7.5px;
  // align-self: center;
}

.scrollbar-hover {
  &::-webkit-scrollbar {
    display: none !important;
  }
  &:hover::-webkit-scrollbar {
    display: block !important;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #555555;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}
.theme-white {
  --colors-primary: #000000;
  --colors-background: #f1f1f1;
  --colors-sub-category: #313131;
  --color-sub-category-background: #e5e6ec;
  --color-icon-view-count: #606060;
  --color-sidebar-background: #ffffff;
  --color-sidebar-background-active: rgba(0, 0, 0, 0.1);
  --color-search-background: #f1f1f1;
  --color-search-color: #606060;
  --color-icon: #313131;
  --color-border-bottom: #e5e9eb;
  --color-category-header: #cccccc;

  background: #e9e9e9;
  color: #000000;

  input::placeholder {
    color: #000000;
  }
}
.theme-black {
  --colors-primary: #ffffff;
  --colors-background: #000000;
  --colors-sub-category: #fffcfe;
  --color-sub-category-background: rgba(255, 255, 255, 0.35);
  --color-icon-view-count: rgba(255, 252, 254, 0.65);
  --color-sidebar-background: #1e1e1e;
  --color-sidebar-background-active: #363636;
  --color-search-background: #363636;
  --color-search-color: rgba(255, 252, 254, 0.65);
  --color-icon: #ffffff;
  --color-border-bottom: rgba(255, 255, 255, 0.1);
  --color-category-header: #323232;
  --color-interpunct: #eae8e9;
  --color-background-search-dropdown: #1f1f1f;

  color: #ffffff;

  .input-search {
    &::-webkit-input-placeholder {
      color: var(--color-search-color);
    }
    &:-moz-placeholder {
      color: var(--color-search-color);
      opacity: 1; /* Firefox */
    }
    &::-moz-placeholder {
      color: var(--color-search-color);
      opacity: 1; /* Firefox */
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--color-search-color);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--color-search-color);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--color-search-color);
    }
  }
}
