<div class="block">
	<div>banner</div>
	<div class="grid">
		<p-card class=" col-6">
			<div class="service-header">Business Analyst</div>
			<div class="service-content">
				Our Business Analyst service will help you manage your most critical business processes, bridging the gap
				between stakeholders and vendors or service providers
			</div>
		</p-card>
		<p-card class=" col-6"></p-card>

	</div>
	<div class="grid">
		<p-card class=" col-6"></p-card>
		<p-card class=" col-6">
			<div class="service-header">Process Automation</div>
			<div class="service-content">
				Process Automation service will help you automate repetitive tasks and bridge the gap between multiple systems
			</div>
		</p-card>
	</div>
	<div class="grid">
		<p-card class=" col-6">
			<div class="service-header">BI and ​​Data Analytics</div>
			<div class="service-content">
				Combining your data from different sources, analyzing and visualizing the data
			</div>
		</p-card>
		<p-card class=" col-6"></p-card>
	</div>
	<div>Our commitment</div>
	<div>Why choose us</div>
	<div>ads banner 2</div>
	<div>case studies</div>
	<div>Client satisfaction</div>
	<div>ads banner 3</div>
	<!-- <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-plain"></button> -->
</div>