.service-header {
  // font-weight: 600;
  font-family: "Poppins", Arial, sans-serif;
}
.card {
  padding: 32px;
  margin: 12px 0 12px 0;
}
.card:hover {
  // border: gray solid 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #24678d;
}

.section-1 {
  min-height: 320px;
  width: calc(100vw + 11px);
  background-color: #24678d;
  margin-left: -20%;
  animation: floating 3s ease-in-out infinite
}
