<div class="block">
  <div class="section-1 h-full">
    <div
      class="flex flex-col justify-center h-[500px] justify-center items-center bg-cover bg-no-repeat bg-transparent"
      style="
        background-image: url('https://www.silversea-analytics.com/uploads/9/3/9/2/9392651/background-images/135832124.jpg');
      "
    >
      <p class="text-6xl font-bold">Duc Tran, CPA, CIA</p>
      <p class="text-4xl mt-2">Visualize your vision</p>
      <a
        class="contact px-4 py-2 mt-4 rounded text-xl"
        href="https://calendly.com/ductrancpa/60m?month=2023-05" target="_blank"
      >
        Contact me
  </a>
    </div>
  </div>
  <div class="section-2 pt-10 container">
    <div class="mt-4 mb-4 font-bold flex justify-center text-4xl">
      OUR MISSION
    </div>
    <div class="grid justify-content-between h-[400px]">
      <div class="card col">
        <div class="service-header" id="business-analyst">Business Analyst</div>
        <div class="service-content">
          Our Business Analyst service will help you manage your most critical
          business processes, bridging the gap between stakeholders and vendors
          or service providers
        </div>
      </div>
      <div class="card col">
        <ul class="list-disc leading-10">
          <li>Monitor, analyze and improve existing processes</li>
          Analyze business requirements and feasibilities
          <li>Clarify functional and technical specifications</li>
          <li>Vendor sourcing and evaluation</li>
          <li>Plan for system enhancements</li>
          <li>Build training program and transition plan​</li>
          <li>​Data mapping and migration</li>
        </ul>
      </div>
    </div>
    <div class="grid justify-content-between h-[400px]">
      <div class="card col">
        <ul class="list-disc leading-10">
          <li>System and application monitoring</li>
          <li>
            Reinforce policies and procedures, such as time entry, periodic
            report, due diligence procedures, etc...
          </li>
          <li>
            Automatically download, combine, process reports from multiple
            sources and prepare value-added reports or follow-up actions
          </li>
        </ul>
      </div>
      <div class="card col">
        <div class="service-header" id="process-automation">
          Process Automation
        </div>
        <div class="service-content">
          Process Automation service will help you automate repetitive tasks and
          bridge the gap between multiple systems
        </div>
      </div>
    </div>
    <div class="grid justify-content-between h-[400px]">
      <div class="card col">
        <div class="service-header" id="data-analyst">
          BI and ​​Data Analytics
        </div>
        <div class="service-content">
          Combining your data from different sources, analyzing and visualizing
          the data
        </div>
      </div>
      <div class="card col">
        <ul class="list-disc leading-10">
          <li>
            Identify trends and anomalies to understand where the business is
            going
          </li>
          <li>Validate business assumptions and strategies</li>
          <li>
            Periodically and automatically evaluate business operations against
            budgets or benchmarks
          </li>
          <li>Provide operational management tools to department heads</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-3 mt-10 container">
    <div class="mt-4 mb-4 font-bold flex justify-center text-4xl">
      SUCCESS STORIES
    </div>
    <p-carousel
      [value]="products"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="mb-3">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name"
							class="w-6 shadow-2" /> -->
          </div>
          <div class="card-2 col">
            <div class="text-xl">
              <a href="{{ product.link }}" class="mb-1 font-bold">{{
                product.name
              }}</a>
            </div>
            <div class="flex">
              <div>{{ product.problem }}</div>
              <div>{{ product.solution }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="section-4 mt-10 mb-10 flex items-center justify-center">
    <div class="grid">
      <div class="col-8">
        <div>Have a project in mind? Let's get to work</div>
        <div>
          Kyanon Digital is trusted by Samsung, Unilever, Nippon Paint, and
          Central Retails. Start your project with a click.
        </div>
      </div>
      <div class="col-4">
        <button
          pButton
          pRipple
          type="button"
          label="Talk To Our Expert"
          icon="pi pi-envelope"
          class="p-button-info"
          (click)="contactUs()"
        ></button>
      </div>
    </div>
  </div>
</div>
